<div class="footer">
    humeur:  <select [(ngModel)]="humeur" (change)="onChangeHumeur()">
        <option *ngFor="let h of listeHumeurs">{{h}}</option>
</select>
&nbsp;  
        couleurFond:<select [(ngModel)]="couleurFondPrefereeLocale" 
                            (change)="onChangeCouleurFondPrefereeLocale()">
                        <option *ngFor="let c of listeCouleurs">{{c}}</option>
        </select> &nbsp;
</div>

<!--
    v1 : <select [(ngModel)]="preferencesService.couleurFondPreferee" >
        avec preferencesService public et sous partie couleurFondPreferee public
-->
